* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'georgia', cursive;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #f15ca6, #ffd6ec);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card {
  background: white;
  width: 90%;
  max-width: 500px;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  position: relative;
}

h1 {
  margin-bottom: 15px;
  color: #ff4d88;
}

p {
  margin-bottom: 20px;
  font-size: 18px;
}

button {
  padding: 12px 25px;
  margin: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.yes {
  background: #ff4d88;
  color: white;
}

.yes:hover {
  background: #ff1a66;
  transform: scale(1.1);
}

.no {
  background: #333;
  color: white;
  position: relative;
}

/* Hidden Sections */
.hidden {
  display: none;
}

/* Polaroid Style */
.polaroid-gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.polaroid {
  background: rgb(234, 202, 230);
  padding: 10px 10px 25px 10px;
  width: 150px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transform: rotate(-3deg);
  transition: 0.3s;
}

.polaroid:nth-child(2) {
  transform: rotate(4deg);
}

.polaroid:hover {
  transform: scale(1.05) rotate(0deg);
}

.polaroid img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.polaroid p {
  margin-top: 10px;
  font-size: 14px;
}

/* Final Image */
#final img {
  width: 100%;
  margin-top: 20px;
  border-radius: 15px;
}

/* Floating Hearts */
.heart {
  position: absolute;
  color: rgba(216, 3, 160, 0.664);
  font-size: 20px;
  animation: floatUp 2s linear forwards;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-200px);
    opacity: 0;
  }
}
